body{
    font-family: Arial, sans-serif;
    background-color: #fcfcfc;
    margin: 50px;
    padding: 0;
}

.top-bar{
    position: relative;
}

.header{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.header-icon img{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: blue;
    padding: 10px;
}

.header-text h1{
    margin: 0;
    font-size: 32px;
    font-style: italic;
}

.header-text p{
    margin-top: 5px;
    font-size: 1.2rem;
    color: rgb(141, 141, 141);
}

.add-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    background: black;
    color: white;
    border: none;
}

.data{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.data-Card{
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.data-icon img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: white;
    padding: 10px;
}

.data-text h2{
    margin: 0;
    font-size: 28px;
}

.data-text p{
    margin-top: 5px;
    font-size: 1rem;
    color: black;
}

.customer-status{
    display: inline-flex;
    gap: 10px;
    background: lightgray;
    padding: 6px;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button-status{
    padding: 8px 14px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    padding: 8px 16px;
    cursor: pointer;
    color: #333;
    margin: 0;
}

.button-status.active{
    background-color: #ffffff;
    color: #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blank-text{
    text-align: center;
    color: #615f5f;
    font-size: 1.4rem;
    margin-top: 80px;
}

#customer-details-form{
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

#customer-details-form:not(.hidden){
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer-details{
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
}

.close-btn{
    position: absolute;
    top: 8px;
    right: 25px;
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: black;
    z-index: 10;
}

.close-button:hover{
    background: #555;
}

.close-btn:focus{
    outline: 2px solid rgb(177, 175, 175);
    outline-offset: 2px;
    border-radius: 2px 4px;
}

.close-btn:hover{
    color: #e48a8a;
}

.customer-details h2{
    margin-top: 0;
    color: #333;
}

#customerForm{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#customerForm label{
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 15px;
}

#customerForm input{
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    background: lightgray;
}

#customerForm input:focus{
    outline: none;
    border-color: #888;
}

#customerForm .submit-btn, .cancelBtn{
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-end;
}

.form-actions{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.hidden{
    display: none;
}

#customer-details-form{
    display: none;
}

.customer-details input,.customer-details label{
    display: block;
    width: 100%;
    margin-bottom: 2px;
    box-sizing: border-box;
}

.customer-details button{
    margin-top: 10px;
}

.serve-btn:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}

.customer-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 12px;
    padding: 15px 20px;
    margin-bottom: 12px;
    box-shadow: 0 2px 6px 6px rgba(0, 0, 0, 0.6);
 }

 .ticket-circle{
    width: 60px;
    height:60px;
    background: #2563eb;
    color: #fff;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 16px;
 }

 .customer-info{
    flex: 1;
    display: flex;
    flex-direction: column;
 }

 .customer-name{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
 }

 .customer-meta{
   display: flex;
   gap: 16px;
   margin-top: 10px;
   font-size: 1rem;
   color: #343333;
 }

 .customer-status-time{
    margin-top: 6px;
    font-size: 13px;
    display: flex;
    gap: 20px;
 }

 .customer-meta span{
    display: flex;
    align-items: center;
    gap: 6px;
 }

.status{
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
}

.status .waiting{
    background: #e0edff;
    color: #2563eb;
}

.customer-status-time .status-btn.inservice{
    background-color: #15803d;
}

.status .completed{
    background: #fef5f9;
    color: #334155;
}

.card-button{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.serve-btn{
    background: #000;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.cancel-btn{
    background: #f1f5f9;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.contact-img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
    
}

.status-btn{
    padding: 5px 12px;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    cursor: default;
    color: black;
}

.status-btn.waiting{
    background-color: rgb(243, 213, 158);
}

.status-btn.in-service{
    background-color: #88badb;
}

.status-btn.completed{
    background-color: rgb(128, 241, 128);
}

.avg-wait{
    font-size: 14px;
    font-weight: bold;
    color: #555;
    margin-top: 5px;
}

.complete-btn{

     background: #000;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.remove-btn{
    background: #000;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
}

